.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

INPUT#text_response_red {
	height:30px;
	width:40px;
}

INPUT#text_response_green {
	height:30px;
	width:40px;
}

INPUT#text_response_purple {
	height:30px;
	width:40px;
}

INPUT#text_response_blue {
	height:30px;
	width:40px;
}

.err {
color: red
}

.err2 {
color: red
}

.err3 {
color: red
}

html {overflow-y:scroll;}

.image-div {
background-image: url("../images/bottomNew.png");
width:800px;
height: 520px;
background-size: 800px 520px;
position: relative;
}

.absolute-div-red {
position: absolute;
left: 9%;
bottom: 20%;
}

.absolute-div-green {
position: absolute;
left: 38%;
bottom: 4%;
}

.absolute-div-purple {
position: absolute;
right: 12%;
bottom: 7%;
}

.absolute-div-blue {
position: absolute;
right: 7%;
bottom: 37%;
}

div#single_trial
{
	overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-moz-scrollbar {
	-moz-appearance: none;
    width: 7px;	
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-moz-scrollbar-thumb {
	border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

div#color_check
{
	overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-moz-scrollbar {
	-moz-appearance: none;
    width: 7px;	
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-moz-scrollbar-thumb {
	border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


